body {
  height: 100%;
  background: url('../images/rVjWsO.jpg') rgb(255, 255, 255);
  background-size: auto auto;
  background-position: left top;
  font: 400 1em/1.38 'Kite One';
  color: rgb(252, 249, 249);
}

.container {
  position: relative;
  float: left;
  width: 27.8333333333%;
  height: 262px;
  margin-top: 21px;
  border: 4px solid rgb(98, 122, 207);
  background-image: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 88.09523809523809%, rgb(0, 0, 0) 100%);
  background-image:    -moz-linear-gradient(0deg, rgb(255, 255, 255) 88.09523809523809%, rgb(0, 0, 0) 100%);
  background-image:      -o-linear-gradient(0deg, rgb(255, 255, 255) 88.09523809523809%, rgb(0, 0, 0) 100%);
  background-image:     -ms-linear-gradient(0deg, rgb(255, 255, 255) 88.09523809523809%, rgb(0, 0, 0) 100%);
  background-image:         linear-gradient(450deg, rgb(255, 255, 255) 88.09523809523809%, rgb(0, 0, 0) 100%);
}

.text {
  float: left;
}

._button {
  display: block;
  position: relative;
  float: left;
  height: 27px;
  border-radius: 3px;
  background-color: rgb(73, 214, 27);
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  position: relative;
  float: left;
  height: 25px;
  margin-top: 4px;
  padding: 0 10px;
  border: 1px solid rgb(0, 33, 255);
  background-color: rgb(242, 242, 242);
  font-family: Helvetica;
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.container-1 {
  z-index: 2;
  margin-left: 6.01693%;
}

.container-2 {
  z-index: 9;
  margin-left: 4.31641%;
}

.text-1 {
  position: relative;
  z-index: 6;
  margin: 58px 0 0 6.33073%;
  font-size: 1em;
  color: rgb(252, 249, 249);
}

.text-2 {
  position: relative;
  z-index: 7;
  margin: 58px 0 0 14.69792%;
  font-size: 1em;
  color: rgb(252, 249, 249);
}

.text-3 {
  position: relative;
  z-index: 8;
  margin: 58px 0 0 16.75391%;
  font-size: 1em;
  color: rgb(252, 249, 249);
}

.text-4 {
  clear: both;
  width: 21.7833333333%;
  min-height: 72px;
  margin: -72px 0 0 79.2109399999%;
  font-size: 2.813em;
  color: rgb(132, 231, 12);
}

._button-1 {
  z-index: 1;
  width: 6.6666666666%;
  margin: 3px 0 0 2.7239583333%;
}

._button-2 {
  clear: both;
  z-index: 10;
  width: 9.25%;
  margin: -45px 0 0 47.54948%;
}

._input-1 {
  clear: both;
  z-index: 0;
  width: 15.9833333333%;
  margin-left: 6.01693%;
}

._input-2 {
  z-index: 4;
  width: 15.9830729166%;
  margin-left: 2.11198%;
}

._input-3 {
  z-index: 5;
  width: 15.9830729166%;
  margin-left: 2.42969%;
}